

%h1
	Companies#Index


.form-window.window.col-sm-3
	= form_for @company, url: {action: "create"}, role: "form" do |f|
		.form-group.center
			.input-group.col-sm-12
				= f.text_field(:name, class: "form-control", placeholder: "")
			= f.label(:name, "Company Name")

		.form-group.center
			.input-group.col-sm-12
				= f.text_field(:dateApplied, class: "form-control", placeholder: "")
			= f.label(:dateApplied, "Date Applied")

		.form-group
			= f.submit("Track!", class: "btn btn-default col-sm-offset-2 col-sm-8", style: "margin-top:5px;margin-bottom:0px;")

		.clear

%ul.pagination.pagination-lg#change-size
	%li.2
		%a{href: ""}
			4 - - - -
	%li.3
		%a{href: ""}
			3 - - -
	%li.5
		%a{href: ""}
			2 - -

.row

.row
	- @companies.each_with_index do |c,i|
		.company.window.col-sm-4
			.title
				= c.name
				.danger-bar{class: "#{@colors[i]}-bg"}
			.body

				.row
					%span.smallcaps
						Applied:
					
					- month, day = c.dateApplied.split("/")
					- month = @months[month.to_i]
					
					= month.slice(0,3)
					= day
					
					.timeline
						.main-line
						.events
							.event.1st-round
								.marker
									.dot
								%span
									1st Round
								.clear
							.event.2nd-round
								.marker
									.dot
								%span
									2nd Round
								.clear


					%div.faded{style: "float:right;margin-right:-5px;"}
						%span{:class => "#{@dateAppliedColors[i]}-color"}
							= @dateAppliedDiffs[i]
							%span.smallcaps{style: "font-size:0.6em;"}
								dayS

				.h10
				.row
					.btn-group.hideme
						%button.btn.btn-default.dropdown-toggle{type: "button", "data-toggle" => "dropdown"}
							= "Log"
							%span.caret
						%ul.dropdown-menu{role: "menu"}
							%li{"data-type" => "1st-round"}
								%a{href: ""}
									1st Round
							%li{"data-type" => "2nd-round"}
								%a{href: ""}
									2nd Round
							%li{"data-type" => ""}
								%a{href: ""}
									On-Site Round
							%li.divider
							%li
								%a{href: ""}
									Additional Round
							%li
								%a{href: ""}
									Offer Letter


			
